* {
  box-sizing: border-box;
  background-color: black;
  font-family: 'Architects Daughter', cursive;
}

.calcGrid {
	display:flex;
	justify-content:center;
	width:100%;
	text-align:center;
	padding-top: 100px;
}

body {
  padding: 0;
  margin: 0;
}

.calc {
  width: 400px;
  background-color: #011233;
  color: white;
}

.screen {
  color: white;
  font-size: 40px;
  text-align: right;
  padding: 20px 5px;
}

.calc-button {
  background-color: #64706d;
  color: black;
  height: 100px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}

.calc-button:hover {
  background-color: #919e9b;
}

.calc-button:active {
  background-color: #bbbcbe;
}

.double {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.calc-button:last-child {
  background-color: #1d8076;
  color: white;
}

.calc-button:last-child:hover {
  background-color: #3cc99f;
}

.calc-button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}
.calc-button:last-child:active {
  background-color: #14c993;
}



.calc-button-row:last-child {
  padding-bottom: 0;
}